@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: unset;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav .header {
    font-weight: 700;
    font-size: 4rem;
    font-style: italic;
}

.link-row {
    display: flex;
}

.link {
    margin-right: 1rem;
    margin-left: 1rem;
}

.link a{
    text-decoration: none;
    color: black;
}

.link a:hover{
    border-bottom: 1px solid black;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}