.project {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 1.5rem 0;
}

.proj-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proj-header .header {
    margin-right: 1rem;
}
.proj-desc {
    margin: .25rem 0;
}

.proj-git {
    margin-bottom: 3px; /* to match project header */
    display: flex;
}

code {
    border: 1px solid rgb(0, 0, 0, .7);
    border-radius: 3px;
    padding: 2px;
    margin-right: .5rem;
}