.top_container {
    width: 100%;
    height: 100%;
    --nav-height: 40px;
}

.navbar {
    /* bottom border applied by mobile_nav class */
    height: var(--nav-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: hsl(var(--background-color));
    z-index: 3;
}

.navbar_center_container {
    width: var(--content-width);
    max-width: var(--max-content-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_center_left {
    /* controlling children of container */
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    user-select: none;
    font-weight: 600;
    letter-spacing: -.025rem;
    white-space: nowrap;
    margin: unset;
}

.navbar_center_center {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar_center_center span {
    /* applies space between buttons without ruining 'animation' */
    margin: 0 2px;
}

.navbar_center_right {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar_center_right span {
    /* applies space between buttons without ruining 'animation' */
    margin: 0 2px;
}

.navbar_center_right_mobile {
    /* hides hamburger */
    display: none;
}

.mobile_nav {
    position: fixed;
    height: 100%;
    width: 100%;
    transition: top .6s, bottom .4s;
    background-color: hsl(var(--background-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* applies border to bottom of navbar, positions navbar _almost_ out of the view port above it */
    top: calc(-100% + var(--nav-height) + 1px);
    border-bottom: 1px solid hsl(var(--border));
}

.top_container[mobile-menu-open=true] .mobile_nav {
    /* moves mobile nav fully into viewport */
    bottom: 0;
    top: 0;
}

.mobile_nav_center_container {
    /* pushes bottom navbar container to bottom */
    flex: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile_nav_center_container span {
    margin: 5px 0;
}

.mobile_button_text {
    font-size: 20px;
}

.mobile_nav_bottom_container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.mobile_nav_bottom_container span {
    margin: 0 2px;
}

.content_container {
    min-height: 100%;
    width: 100%;
    margin-top: calc(var(--nav-height) + 1px);
    padding-bottom: var(--nav-height);
}

/* Would be nice to be able to use --max-content-width variable here, but I believe they can't be used in media queries. yet.. */
@media (max-width: 650px)  {

    .navbar_center_right {
        /* pushes hamburger to far right */
        flex: 1;
    }

    .navbar_center_center, .navbar_center_right {
        /* hides links and icons */
        display: none;
    }

    .navbar_center_right_mobile {
        /* displays hamburger */
        display: flex;
    }
}