:root {
    --layout-0: 0, 0%, 100%;
    --layout-1: 0, 0%, 96%;
    --layout-2: 0, 0%, 92%;
    --layout-3: 0, 0%, 88%;
    --layout-4: 0, 0%, 84%;
    --layout-5: 0, 0%, 80%;
    --layout-6: 0, 0%, 76%;
    --layout-7: 0, 0%, 72%;
    --layout-8: 0, 0%, 68%;
    --layout-9: 0, 0%, 64%;
    --layout-10: 0, 0%, 60%;
    --layout-11: 0, 0%, 56%;
    --layout-12: 0, 0%, 52%;
    --layout-13: 0, 0%, 48%;
    --layout-14: 0, 0%, 44%;
    --layout-15: 0, 0%, 40%;
    --layout-16: 0, 0%, 36%;
    --layout-17: 0, 0%, 32%;
    --layout-18: 0, 0%, 28%;
    --layout-19: 0, 0%, 24%;
    --layout-20: 0, 0%, 20%;
    --layout-21: 0, 0%, 16%;
    --layout-22: 0, 0%, 12%;
    --layout-23: 0, 0%, 8%;
    --layout-24: 0, 0%, 4%;
    --layout-25: 0, 0%, 0%;

    /* COLORS */
    --border: var(--layout-6);
    --background-color: var(--layout-2);

    /* LAYOUT */
    --content-width: 650px;
    --max-content-width: 90%;
    min-height: 100%;
    width: 100%;

    /* FONT */
    --sans-font: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
    --mono-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 

    font-family: var(--sans-font);
    text-rendering: optimizeLegibility;
}

:root[data-theme='dark'] {
    --layout-0: 0, 0%, 0%;
    --layout-1: 0, 0%, 4%;
    --layout-2: 0, 0%, 8%;
    --layout-3: 0, 0%, 12%;
    --layout-4: 0, 0%, 16%;
    --layout-5: 0, 0%, 20%;
    --layout-6: 0, 0%, 24%;
    --layout-7: 0, 0%, 28%;
    --layout-8: 0, 0%, 32%;
    --layout-9: 0, 0%, 36%;
    --layout-10: 0, 0%, 40%;
    --layout-11: 0, 0%, 44%;
    --layout-12: 0, 0%, 48%;
    --layout-13: 0, 0%, 52%;
    --layout-14: 0, 0%, 56%;
    --layout-15: 0, 0%, 60%;
    --layout-16: 0, 0%, 64%;
    --layout-17: 0, 0%, 68%;
    --layout-18: 0, 0%, 72%;
    --layout-19: 0, 0%, 76%;
    --layout-20: 0, 0%, 80%;
    --layout-21: 0, 0%, 84%;
    --layout-22: 0, 0%, 88%;
    --layout-23: 0, 0%, 92%;
    --layout-24: 0, 0%, 96%;
    --layout-25: 0, 0%, 100%;

    --background-color: var(--layout-3);
}

html {
    background-color: hsl(var(--background-color));
    color: hsl(var(--layout-23));
}

body {
    margin: unset;
    height: 100%;
    width: 100%;
}