.singleCenterColumn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100%;
}

.carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imageContainer {
    position: relative;
    max-height: 80%;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageButtonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    max-width: 80%;
}

@media (max-width:650px)  {
    .content {
        max-width: 90%;
    }
}

.testContainer {
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}