.mainContainer {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 90%;
}

.imageContainer {
    position: relative;
    max-height: 80%;
    height: 450px;
    max-width: 90%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageButtonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.textContainer {
    flex: 1;
    padding-left: 25px;
    min-width: 250px;
    max-width: 80%;
}

@media (max-width:600px)  {
    .mainContainer {
        max-width: 90%;
    }
}